@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
.App {
    text-align: center;
}

:root {
    --primary-color: #ff8c00;
    --dark-gray: #6B7280;
    --off-white: #BCBCBC;
    --bg--color: #ECFDF5;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

h1 {
    font-family: 'Poppins', sans-serif;
}

.buttons {
    padding: 1rem;
    border-radius: 6px;
    color: white;
    background-color: var(--primary-color);
    border: var(--primary-color);
    margin: 1rem;
}